section {
	text-align: center;
	margin-top: 2%;
 }
 
 #main_title {
	font-size: 50px;
 }

 .imageBox, .image {
	width: 640px;
	height: 400px;
 }
 
 div > .image {
	text-align: center;
 }
 
 .title {
	font-size: 1.5em;
	 font-weight: bold;
	 text-decoration: none;
	 z-index: 1;
	 position: absolute;
	 height: 100%;
	 width: 100%;
	 top: -11%;
	 left: 0;
	 opacity: 0;
	 transition: opacity 1s;
	 background: rgba(0,0,0,0.4);
	 color: white;
	
	 display: flex;
	 align-items: center;
	 justify-content: center;
 }
 
 .title:hover {
	opacity: 1;
 }
 
 .imageBox {
	z-index: 99;
	position: relative;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	-webkit-transition: background 0.4s 0.5s;
	transition: background 0.4s 0.5s;
 }
 
 .imageBox:hover {
	background: rgba(255,255,255,0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
 }